<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Gelf name="logstash-gelf" host="tcp:127.0.0.1" port="4560" version="1.1">
            <Field name="timestamp" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}" />
            <Field name="logger" pattern="%logger" />
            <Field name="level" pattern="%level" />
            <Field name="className" pattern="%C" />
            <Field name="method" pattern="%M" />
            <Field name="line" pattern="%L" />
            <Field name="server" pattern="%host" />
        </Gelf>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="logstash-gelf" />
        </Root>
    </Loggers>
</Configuration>